{{ define "main" }}

{{ partial "bio.html" . }}

<div class="wrapper">
  <main aria-label="Content">

    <h3 class="posts-item-note">AT-RISC Processor</h3>
    {{ range sort (where .Site.RegularPages "Params.tags" "intersect" (slice "AT-RISC")) "Date" "desc" }}
      {{ partial "postCard.html" . }}
    {{ end }}

    <!--
    <h3 class="posts-item-note">Mathematics</h3>
    {{ range sort (where .Site.RegularPages "Params.tags" "intersect" (slice "mathematics")) "Date" "desc" }}
      {{ partial "postCard.html" . }}
    {{ end }}
    -->

  </main>
</div>

{{ end }}